.container {
  display: flex;
  justify-content: center;
}

#search-div {
  margin: 1rem 0;
  width: fit-content;
  display: flex;
}

input {
  padding: 0.8rem 0.2rem;
  background-color: #F7F8FA;
  border: none;
  border-bottom: 1px solid #494D4B;
}

.search-button {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  background-color: #F7F8FA;
  border: none;
  cursor: pointer;
}